SERVICE_NAME=rpg.core-event
HEALTH_PORT=18010
DB_USER=postgres
DB_PASS=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=rpg
DB_SEARCH_PATH=core,public
LOG_LEVEL=debug
LOG_TEXT_FORMAT=false
WAL_FILTER_FILE=./filter.yaml
WAL_PUBLICATION_NAME=core_event_pub
WAL_SLOT_NAME=core_event_slot
