go 1.24.13

use (
	./app/bootstrap
	./app/core
	./app/core-event
	./app/gateway
	./app/notification
	./app/payment
	./pkg/api
	./pkg/base
	./pkg/cdc
	./pkg/ctxHelpers
	./pkg/database
	./pkg/decimal
	./pkg/health
	./pkg/image
	./pkg/logging
	./pkg/maps
	./pkg/mermaid
	./pkg/openai
	./pkg/pgmq
	./pkg/pgstore
	./pkg/rabbitmq
	./pkg/randutil
	./pkg/redis
	./pkg/redislock
	./pkg/repository
	./pkg/request
	./pkg/resend
	./pkg/rpg
	./pkg/sqlcrypt
	./pkg/twilio
	./pkg/str
	./pkg/tracing
	./pkg/tree
	./pkg/unix
	./pkg/util
	./tools/wasm/form-validator
	pkg/language
)
