node_modules
.next
coverage
.env*
tsconfig.tsbuildinfo
.swc
.idea
.git
.vscode
dist
*.log
e2e-parallel-results
e2e-parallel-*.log
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/*.cy.ts
**/*.cy.tsx
storybook-static
*.md
jest.config.ts
jestconfig.json
tsconfig.spec.json
