API_URL="http://127.0.0.1:9001"
BFF_URL="http://127.0.0.1:9999"
NEXT_PUBLIC_API_URL="http://127.0.0.1:3000/api/rpc"

NEXTAUTH_SECRET="replace-with-a-random-secret"
NEXTAUTH_URL="http://localhost:3000"

SECRET_COOKIE_PASSWORD="replace-with-a-random-32+char-secret"

DEBUG='true'

NEXT_PUBLIC_OTEL_ENABLED='true'
NEXT_PUBLIC_OTEL_ENDPOINT='http://localhost:4318/v1/traces'
