CORE_SERVICE=localhost:9102
PAYMENT_SERVICE=localhost:9001
NOTIFICATION_SERVICE=localhost:9002
WITH_PERMISSIONS=true
API_PORT=9999
LOG_LEVEL=debug
ENABLE_PERMISSIONS=true
RPG_PERMISSIONS_FLAG=true
LOG_TEXT_FORMAT=true
TR_ENABLED=true
TR_ENDPOINT=localhost:4318
TR_HTTPS=false
TR_SAMPLE_RATE=1.0
DB_TRACE=true
