HEALTH_PORT=18007
API_PORT=9102
DB_USER=postgres
DB_PASS=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=rpg
LOG_LEVEL=debug
RPG_PERMISSIONS_FLAG=true
DB_SAVE_QUERY_FILE_PATH="debug.sql"
TIMEZONE=Europe/Warsaw
LOG_TEXT_FORMAT=true
ENABLE_DEV_API=true
PAYMENT_SERVICE_URL=http://localhost:9001
PAYMENT_SERVICE_CLIENT_TIMEOUT_MS=10000
TR_ENABLED=true
TR_ENDPOINT=localhost:4318
TR_HTTPS=false
TR_SAMPLE_RATE=1.0
DB_TRACE=true
NOTIFICATION_SERVICE_URL=http://localhost:9002

PGMQ_ENABLED=true
